*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83aa,
    #aabfd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #88bff8,
    #52affe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
@font-face {
  font-family: neon;
  src: url();
}
.heading {
  width: 300px;
  height: 80px;
  border: 1px #d3d9dd;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
 
  background-image: linear-gradient(to right bottom, #ffdee9, #b5fffc);
}
.heading {
  position: relative;
  display: inline;
  text-align: center;
  margin-bottom: 20px;
}
.heading h1 {
  font-family: open sans;
  font-size: 30px;
  text-align: center;
}
.board {
  width: 100vh;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after {
  background-color: black;
  text-shadow: 0 0 20px #ff005b;
}
.cell.circle::before,
.cell.circle::after {
  background-color: black;
}
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: lightgray;
  
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightgray;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle)::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-massage {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}
.winning-massage button {
  font-size: 3rem;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 50px;
}

.winning-massage button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.winning-massage.show {
  display: flex;
}
